.custom-nav .nav-link {
    color: white !important;
    transition: color 0.3s ease;
  }
  
  .custom-nav .nav-link:hover {
    color: #ffd700 !important; /* golden hover */
    text-decoration: underline; /* optional */
  }
  
  /* App.css */
body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}
